<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
      <span>MoonVerse Inc.</span>
  </div>
</footer>








<!--<app-feed></app-feed>-->
<!-- credits 
<div class="text-center mt-4">
  <p>
      <a href="https://jasonwatmore.com/post/2020/04/28/angular-9-user-registration-and-login-example-tutorial" target="_top">Angular 9 - User Registration and Login Example & Tutorial</a>
  </p>
  <p>
      <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div>-->


